.resume{
  display: flex;
  flex-direction: column;
  background-color: rgb(7, 7, 7);
  width: 100%;
  padding: 5rem;
}

.resume h1{
  color: rgb(255, 255, 255);
}
.resume button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 45%;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border-radius: 15px;
}
.modal-content{
  width: 900px;
  height: 800px;
  background-color: rgb(36, 36, 36);
  color: beige;
}

.modal-body embed{
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px){
  .resume button{
    margin-left: 15%;
  }
  .modal-content{
    width: 320px;
    height: 600px;
  }
 .modal-body embed{
  width: 300px;
  height: 400px;
 }

}