.contact{
  background-color: rgb(7, 7, 7);
}
.contact h2{
  color: rgb(255, 255, 255);
}
.container-fluid{
  margin:0 15rem;
  padding: 2rem;
  padding-top: 7rem;
}
.form-group label{
  color: aliceblue;
}
.form-group input{
  background-color: rgb(199, 199, 199);
  color: #000000;
  font-weight: bold;
}
.form-group textarea{
  height: 100px;
  background-color: rgb(199, 199, 199);
  color: #000000;
  font-weight: bold;
}
@media only screen and (max-width: 480px){
  .container-fluid{
    margin: 0 1rem;
    padding-top: 1rem;
  }
}